In [2]:
from backend.database_endpoints import DATABASE_CURSOR

Database initializing in testdb

In [3]:
DATABASE_CURSOR.execute("CREATE TABLE STUDENTS (name VARCHAR(255), age INTEGER(10))")

ProgrammingError: 1050 (42S01): Table 'STUDENTS' already exists

In [18]:
DATABASE_CURSOR.execute("SELECT * FROM STUDENTS")
print(DATABASE_CURSOR.fetchall())

[]

In [26]:
DATABASE_CURSOR.execute("INSERT INTO STUDENTS (name, age) VALUES ('Andrew', 20)")

In [42]:
DATABASE_CURSOR.execute("INSERT INTO STUDENTS (name, age) VALUES ('Josh', 19)")

In [71]:
DATABASE_CURSOR.execute("SELECT name, age FROM STUDENTS WHERE name LIKE 'A%' AND age > 19")
print(DATABASE_CURSOR.fetchall())

[('Andrew', 20), ('Andrew', 20)]